.btn {
	border: 1px solid $primary-color;
}

.btn-primary {
  margin-top: 1rem;
  width: 100%;
  padding: .8em 0 10px .8em;
  background-color: $primary-color;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: $primary-color;
}


.button-next {
  background: #fff url(/img/button_arrow_right.png) no-repeat right top;
  height: 37px;
  color: $primary-color;
  padding-left: 2.5rem;
  padding-right: 3rem;
  margin-right: -1.5rem;
  border: 0;
}





