

input {
  // border-radius: .4em !important;
}



input::placeholder {
  color: #aaa;
}

/* ==========================================================================
   Login Form
   ========================================================================== */


.rememberme {
  display: none;
}

.login-info {
  color: $primary-color;
  font-weight: 300;
  font-style: italic;
  float: right;
}

span.help-block {
    color: #C52D2D;
 
}

.verbeteractietext {
  padding: 1rem;
  background: rgba(0,0,0,0.05);
  border: 1px solid #aaa;
  
}