

input {
  // border-radius: .4em !important;
}



input::placeholder {
  color: #aaa;
}

/* ==========================================================================
   Login Form
   ========================================================================== */


.rememberme {
  display: none;
}

.login-info {
  color: $primary-color;
  font-weight: 300;
  font-style: italic;
  float: right;
}

span.help-block {
    color: #C52D2D;
 
}

.verbeteractietext {
  padding: 1rem;
  background: rgba(0,0,0,0.05);
  border: 1px solid #aaa;
  
}

$checkbox-size: 1.5rem;

.checkbox {
  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  background: #ffffff;
  border: 1px solid #333;
  border-radius: .3rem;
}

.checkbox {
  cursor: pointer;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.checkbox:hover {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.checkbox--check {
  color: #000;
  font-size: $checkbox-size;
  line-height: $checkbox-size;
}