$body-background: #A6CE39;

.red {
	border: 1px solid red;
}


* {
  margin: 0;
}

html, body {
  height: 100%;
}

$footer-height: 155px;

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #A6CE39;
	color: #fff;
	background: #A6CE39;
	position: static;
	top: 0;
}


.page-wrap {
	flex: 1;
	z-index: 10;
	// position: relative;


  // min-height: 100%;
  // z-index: 90;
  /* equal to footer height */
  // margin-bottom: -$footer-height; 
}

/* 
.page-wrap:after {
  content: "";
  display: block;
} */

.site-footer {
	background: #A6CE39 url("/img/flowmenu.png") no-repeat bottom center;
	z-index: 100;
}

.site-footer, .page-wrap:after {
  	height: $footer-height; 

}
.site-footer {
  // background: orange;
}

main {
	z-index: 10;
}

#paperclip {
	position: absolute;
	top: 0;
	right: 5%; 
	width: 30%;
	z-index: -10;	

}

.backgroundtextleft {
	position: absolute;
	left: -3em;
	top: 3em;
	transform: rotate(-90deg);
	color: rgba(#fff, 0.2);
	font-size: 6rem;
	font-weight: 500;
	text-decoration: underline;
}


/**
 *  PAGES LAYOUT
 */

.title-img {
	margin-top: 5rem;
}

.page-heading {
	padding-top: 1rem;
}

.fieldset {
	position: relative;
}

.page-content {
	margin-top: 1rem;
}

.row-page-next {
	position: absolute;
	bottom: 0;
}

.page-next {

	float: right; 
	text-align: right;
	margin-top: 3em;
}


.fieldset legend {
	font-weight: bold;
}


/**
 *  HOMEPAGE
 */

.homesidebar {
	border: 2px solid #fff;
	border-width: 2px 0;
	padding: 0 0 1em 0;
	a {
		display: block;
		width: 100%;
		font-size: 1.5rem;
		padding: 1rem 0 0 0;
	}
}

.triblock {
	padding-left: 0;
	padding-right: 30px;
}

.triblock--container {
	margin-top: 3rem;
}
.triblock {
    position: relative;
    display: inline-block;

}

.triblock span.title {
    display: block;
    position: relative;
    box-sizing: border-box;
    border-radius: 6px;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 6px;
    font-size: 1.3rem;
    line-height: 5rem;
    font-weight: 500;
    // text-shadow: 0px 1px 1px #888;
    background-color: #3B7A86;
    color: #fff;
    box-shadow: 0 3px 0 0 #073040;
    transition: all .5s;
}

.triblock span.title:hover {
    background-color: #073040;

}

.triblock span.arrow-left{
	right: 0;
    -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
    border-right: 10px solid #00cdae;
}


/**
 *  NAVBAR LEFT
 */

.navbarleft {
	position: fixed;
	left: 0;
	left: -29.5rem;
	top: 0rem;
	padding-top: 2rem;
	height: 100%;
	width: 30rem;
	background: rgba(#fff, 0.8);
	z-index: 100;
	transition: all .5s;

	ul {
		padding: .5rem 1rem .5rem 1rem;
	}
}

.navbarleft:hover {
	left: 0;
}

.navbarleft>ul>li {
	font-size: 1.5rem;
}

.navbarleft>ul>li>ul {
	display: none;
	transtion: all .5s;
	background: none !important;
	a {
		padding-left: 3rem;
	}
}

.navbarleft>ul>li>ul>li {
	padding: .5rem 0;
}
.navbarleft>ul>li:hover ul{
	display: block;
}

/**
 *  AUTH
 */

.loginform {
	margin-top: 15em;
}

 /**
  *  THEMA RESULTAAT
  */
 .email_naar_participant {
 	// height: 80%;
 }

 /**
 *  DATABANK
 */

.searchfield {
	margin: 1rem 0 3rem;
}
.databank {
	// background: rgba(#fff, .2);
}
.columnhead {
	font-size: 1.4rem;
}
.has-tip  {
	color: #fff;
	font-weight: 500 !important;
}

.succesfactorrow {
	border-bottom: 1px solid #e4e4e4;
}


/**
 *  WAAR: KAART
 */

.gebruikers_aanmelden {

	img {
		width: 60%;
		height: auto;
	}
	.plus {
		font-size: 1.5rem;
		margin: -.5rem 0 0 0rem;
		font-weight: 500;
	}
}


/**
 *  WAAR: KAART
 */
 .kaart {
 	img {
 	}
 }

 .verfijning {
 }

 /**
  *  WIE
  */
 
 .user {
 	margin-top: 4rem;
 	img {
 		width: 40%;
 		height: auto;
 		display: inline-block;
 		margin: 0 30% 1rem;
 	}
 }
.user-divider{
	padding-top: 10rem;
	span {
		padding-top: 20rem;
		font-size: 8rem;
	}
}

.submitted-users {
	padding-top: 2 	rem;
}

.submitted-user {
	background: none;
	border: 0;
 	text-align: center !important;
 	line-height: 1.1em;
 	// border: 2px solid rgba(255,255,255,0.3); 
 	// border-radius: .5rem;
 	padding: 2rem 0;
 	margin: .5rem 0;
 	span {
 		display: block;
 		text-align: center;
 		line-height: .9em;
 	}
 	span.functie {
 		font-weight: 700;
 	}
 	img {
 		width: 50%;
 	}
 }

 .add_submitted_user {
 	font-size: 5rem;
 	font-weight: 300;
 	margin: 1rem 0 0 0;
 	color: #fff;
 }

 .close_submitted_user {
 	display: block;
 	position: absolute;
 	top: 1rem;
 	right: 2rem; 
 	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
 }

 .tester {
 	height: 3rem;
 	border: 1px solid red;
 }


 /**
  *  ALGEMEENBEELD PARTICIPANT
  */


 /**
  *  ALGEMEENBEELD
  */
 .algemeenbeeldslider--participant {
 	margin-top: 2rem;
 }
 .pre-resultaat {
 	padding: 3rem 0;
 	width: 100%;

 	a {
 		margin: 0 auto;
 	}
 }


 /**
  *  ALGEMEENBEELDRESULTAAT
  */
 .algemeenbeeldslider--group {
 	// margin-top: 1rem;
 	// border: 1px solid red;
 	// padding: 2em;
 	// background: #fff;
 }

.slider__label__left, .slider__label__right {
	padding: 0 0;
	font-weight: 500;
	font-size: .9rem;
}

 .slider__label__left {
 	clear: both;
 	float: left;
 }

 .slider__label__right {
 	float: right;
 }

 .sliders-sub {
 	padding: .5rem 0;
 	height: 5rem;
 	color: #fff;
 	font-weight: 500;
 	span { 
 		font-weight: 300;
 	}
 }

 .sliders-sub__thema {
 	height: 4rem;
 }



 .algemeenbeeldslider {
 	width: 90%;
 	margin: 0 5%;
 }

 .slider__breed {
 	width: 100%;
 	margin: 0;
 }

$onderwijs: #882d50;
$gemsd: #2f5256;
$gemsw: #FA9426;
$werk: #E75351;
$zorg: #A856AA;
$overig: #25AEE4;

.slider-gemiddeld {
	// font-size: 1.2rem;
	background: rgba(#fff, .1);
	height: 3rem;
}

.slider-gemiddeld__thema {
	background: rgba(#fff, .1);
}

.slider-columnhead {
	font-weight: 500;
}

.slider-empty {
	color: #A6CE39;
}
 .slider-onderwijs {
 	border: 6px solid $onderwijs;
 	border-width: 0 6px;
 	background: rgba($onderwijs, .4);
 	// background: #882d50;
 }

 .slider-gemsd {
 	border: 6px solid $gemsd;
 	border-width: 0 6px;
 	background: rgba($gemsd, .4);
 }

  .slider-gemsmw {
 	border: 6px solid $gemsw;
 	border-width: 0 6px;
 	background: rgba($gemsw, .4);
 }

  .slider-werk {
 	border: 6px solid $werk;
 	border-width: 0 6px;
 	background: rgba($werk, .5);
 }

  .slider-zorg {
 	border: 6px solid $zorg;
 	border-width: 0 6px;
 	background: rgba($zorg, .5);
 }

  .slider-overig {
 	border: 6px solid $overig;
 	border-width: 0 6px;
 	background: rgba($overig, .5);
 }

 /**
  *  THEMA VRAGEN
  */
 .thema-submit-container {
 	width: 100%;
 	text-align: right;
 }

 .thema-submit {
 	margin: 3rem auto;

 }

 /**
  *  THEMA RESULTAAT
  */
 
 #time {
 	display: block;
 	width: 100%;
 	text-align: center;
 	margin-top: -4rem;
    line-height: 14rem;
 	font-size: 11rem;
 	color: rgba(#fff, .3);
 	// background: rgba(#fff, .3);
 	// border: 2px solid #22373e;
 }


 .center {
 	text-align: center;
 }

 .subheading__time {
 	width: 90%;
 }

 .slider-verbeterpunten {
 	border: 6px solid #3FDED1;
 	border-width: 0 6px;
 	background: rgba(#3FDED1, 1);
 	text-align: center;
 }

 .verbetercheck {
 	display: inline-block;
 }

.succesfactoren {
	margin: 2rem 0 0 0;
 	border: 1px solid #ddd;
 	background: rgba(#fff, .3);
}

.succesfactoren > .row {
	border-bottom: 1px solid #ddd;
}

 .succesfactoren > .row > .large-1  {
 	padding: .5rem;
 }

 .succesfactoren > .row > .large-11  {
 	border-left: 1px solid #ddd;
 	padding: .5rem;
 }

 .succeesfactoren-titel {
 	padding: .5rem;
 	font-size: 1.5rem;
 	text-align: center;
 }

 /**
  *  ACTIEPUNTEN
  */
 
 .actiepunt {
 	position: relative;
 	margin: 0 0 2rem 0;
 }

 .actie-verwijderen {
 	display: block;
 	position: absolute;
 	top: 0;
 	right: 1rem; 	
    background: #fff;
    padding: 0 .5em;
    font-weight: 500;
    font-size: .8rem;
 }

.actie-rij {
	padding: 0;
	background: rgba(#fff, .3);

	.form-control {
		margin: 0;
	}
}

.actie-rij {
	// padding-top: .5rem;

}

 .actie-omschrijving {
 	display: block;
 	padding: .5rem;
	background: rgba(#fff, .3);
	font-weight: 500;
	margin-bottom: 1rem;
 }

  .actie-omschrijving__subactie {
  	padding-left: 2rem;
  	font-weight: 300;
  }

 .actie-thema {
 	display: block;
 	padding: .5rem;
 	color: #fff;
 }

 .actie-thema-kop {
 	font-weight: 500;
 }

.actiepunt-wet {
 	background: $werk;	
}

.actiepunt-kb {
	background: $onderwijs;
}

.actiepunt-es {
	background: $overig;
}

.actiehelper {
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
}

.datumrow {
	margin-left: -30px !important;
}

.datum {
	margin: 2rem 0;
}

.datumlabel {
	color: #fff;
	font-size: 1.2rem;
	font-weight: 500;
}

.smalldate {
	width: 8rem !important;
    float: right;
}