// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.0.1
// MIT License

$track-color: #dddddd;
$thumb-color: #555bc8;



$thumb-radius: 0;
$thumb-height: 1.3rem;
$thumb-width: .6rem;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-shadow-color: #111;
$thumb-border-width: .1rem;
$thumb-border-color: #000;

$track-width: 100%;
$track-height: .6rem;
$track-shadow-size: .1rem;
$track-shadow-blur: .1rem;
$track-shadow-color: rgba(#000, .3);
$track-border-width: 0rem;
$track-border-color: rgba(#ddd, 1);

$track-radius: .3rem;
$contrast: 5%;


input[type=range] {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 8.3px 0;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ec5840;
  border-radius: 0px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}



input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 16px;
  border-radius: 0px;
  background: #22373e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ed644e;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ec5840;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 16px;
  border-radius: 0px;
  background: #22373e;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #eb4c32;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #ec5840;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 16px;
  border-radius: 0px;
  background: #22373e;
  cursor: pointer;
  height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ec5840;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ed644e;
}
