@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500italic,500,400italic,300italic);

.visible_link {
  color: #9fc236;
}

.visible_link:hover {
  color: #6d8a16;
}

.visible_link--basic {
  text-decoration: underline;
  font-style: italic;
}

body, p, h1, h2, h3, h4, h5, h6 {
  color: #22373e;
}

p, span, body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

p.prequestion {
  font-size: 1.2rem;
  font-weight: 400;
}

p.question {
  font-size: 1.2rem;
  line-height: 1.1em;
  font-style: italic;
  font-weight: 300;
}

p.subheading {
  font-size: 1.2rem;
  line-height: 1.1em;
  font-style: italic;
  font-weight: 300;
}


h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -1rem;
}

.qanda_index li {
  margin-bottom: .5rem;
  a {
    font-style: italic;
  }
}